In [1]:
import requests
import pandas as pd
import psycopg2 as ps
import time

In [2]:
API_KEY = 'AIzaSyCkVfQP7HdwP241d5sJ0KeUrefMhUAob5o'
CHANNEL_ID = 'UCW8Ews7tdKKkBT6GdtQaXvQ'

#BlindRun UC0WNX0de8I1fgKUrjxiPaRA

In [3]:
#make an api call
pageToken = ""
url = "https://www.googleapis.com/youtube/v3/search?key="+API_KEY+"&channelId="+CHANNEL_ID+"&part=snippet,id&order=date&maxResults=10000&"+pageToken
response = requests.get(url).json()

In [4]:
# time.sleep(1) between api call and first function to make sure all datas downloaded

In [5]:
df = pd.DataFrame(columns=['video_id','video_title','upload_date','view_count','like_count','comment_count'])

In [6]:
for video in response['items']:
    if video['id']['kind'] == 'youtube#video':
        video_id = video['id']['videoId']
        video_title = video['snippet']['title']
        video_title = str(video_title).replace("&amp;","")
        upload_date = video['snippet']['publishedAt']
        upload_date = str(upload_date).split("T")[0]
        
        url_video_stats = "https://www.googleapis.com/youtube/v3/videos?id="+video_id+"&part=statistics&key="+API_KEY
        response_video_stats = requests.get(url_video_stats).json()

        view_count = response_video_stats['items'][0]['statistics']['viewCount']
        like_count = response_video_stats['items'][0]['statistics']['likeCount']
        #dislike_count = response_video_stats['items'][0]['statistics']['dislikeCount']
        comment_count = response_video_stats['items'][0]['statistics']['commentCount']

        #save
        df = df.append({'video_id':video_id,'video_title':video_title,'upload_date':upload_date,
                       'view_count':view_count,'like_count':like_count,'comment_count':comment_count}
                       , ignore_index = True)

In [7]:
def connect_to_db(host_name, dbname, port, username, password):
    try:
        conn = ps.connect(host= host_name, dbname= dbname, user=username, password= password, port=port)

    except ps.OperationalError as e:
        raise e

    else:
        print('Connected!')
        
        return conn

In [8]:
#create the table
def create_table(curr):
    create_table_command = ("""CREATE TABLE IF NOT EXISTS videos (
                            video_id VARCHAR(255) PRIMARY KEY,
                            video_title TEXT NOT NULL,
                            upload_date DATE NOT NULL DEFAULT CURRENT_DATE,
                            view_count INTEGER NOT NULL,
                            like_count INTEGER NOT NULL,
                            comment_count INTEGER NOT NULL
                            )""")
    curr.execute(create_table_command)

In [9]:
def check_if_video_exists(curr, video_id):
    query= ("""SELECT video_id FROM VIDEOS WHERE video_id = %s""")
    curr.execute(query, (video_id,))
    
    return curr.fetchone() is not None

In [10]:
def update_row(curr, video_id, video_title, upload_date, view_count, like_count, comment_count):
    query = ("""UPDATE videos
            SET video_title = %s,
                view_count = %s,
                like_count = %s,
                comment_count = %s
            WHERE video_id = %s;""")
    vars_to_update = (video_id, video_title, upload_date, view_count, like_count, comment_count)
    curr.execute(query, vars_to_update)

In [11]:
def update_db(curr,df):
    tmp_df = pd.DataFrame(columns=['video_id','video_title','upload_date','view_count','like_count','comment_count'])

    for i, row in df.iterrows():
        if check_if_video_exists(curr, video_id):
            update_row(curr, row['video_id'], row['video_title'], row['upload_date'], row['view_count'], row['like_count'], row['comment_count'])
        else:
            tmp_df = tmp_df.append(row)
            
    return tmp_df

In [12]:
def insert_into_table(curr, video_id, video_title, upload_date, view_count, like_count, comment_count):
    insert_into_videos = ("""INSERT INTO videos (video_id, video_title, upload_date, view_count, like_count, comment_count)
                         VALUES(%s, %s,%s,%s,%s,%s);""")
    row_to_insert = (video_id, video_title, upload_date, view_count, like_count, comment_count)
    curr.execute(insert_into_videos, row_to_insert)

In [13]:
def append_from_df_to_db(curr,df):
    for i, row in df.iterrows():
        insert_into_table(curr, row['video_id'], row['video_title'], row['upload_date'], row['view_count'], row['like_count'], row['comment_count'])

In [14]:
DB_HOST = 'youtube.cczho1ds0aax.us-east-1.rds.amazonaws.com'
DB_NAME = 'youtube'
DB_PORT = '5432'
DB_USER = 'jab9k3'
DB_PASS = 'chargerrt'
#conn = None

In [15]:
conn = connect_to_db(DB_HOST, DB_NAME, DB_PORT, DB_USER, DB_PASS)

Connected!

In [16]:
curr = conn.cursor()

In [17]:
create_table(curr)

In [18]:
new_vid_df = update_db(curr,df)

In [19]:
append_from_df_to_db(curr,new_vid_df)

In [20]:
conn.commit()

In [21]:
df.head()

,video_id,video_title,upload_date,view_count,like_count,comment_count
0,yFyyP_Uvxj0,How To Solve Data Science Probability Intervie...,2022-03-10,1113,44,2
1,Av92CaPTRr8,How to use SQL window functions: RANK vs DENSE...,2022-03-02,1624,50,8
2,VEjxlKBkZGM,Amazon Data Science Interview Question Walkthr...,2022-02-08,5146,166,16
3,hMUf7DqG1nQ,SQL Basics: How to Join Multiple Tables in SQL...,2022-01-27,2941,87,5
4,ToEl_tpyoM4,Uber Data Science Python Interview Question Wa...,2022-01-10,17345,440,24